@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");

$primary-color: #161616;

body {
  font-family: "Raleway", sans-serif;
  color: $primary-color;
  font-size: 16px;
}

.container-fluid {
  display: grid;
  grid-template-columns: 25% auto;
  padding: 0;
  height: 100vh;
  @media screen and (max-width: 1550px) {
    grid-template-columns: 35% auto;
  }

  @media screen and (max-width: 1024px) {
    display: block;
  }
}

.addItemWrapper {
  background: #73bc9d;
  background: -webkit-linear-gradient(to bottom, #73bc9d, #dbddaf);
  background: linear-gradient(to bottom, #73bc9d, #a1eccd);
  color: $primary-color;
  padding: 20px 40px;

  button {
    width: 100%;
    margin: 10px 0;

    &.btn-inc,
    &.btn-dec {
      background-color: #fff;
      opacity: 0.9;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .fa-plus,
    .fa-minus {
      font-size: 25px;
      color: #686868;
    }

    &.btn-addItem {
      background-color: #fff;
      color: $primary-color;
      cursor: pointer;

      &:hover {
        background-color: darken($color: #b2ffd9, $amount: 5);
      }
    }
  }

  .itemQuantity {
    font-size: 35px;
  }

  .alert {
    margin-top: 5px;
  }
}

.listWrapper {
  padding: 40px;

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 20px;
    padding: 30px 70px;
  }

  .deleteDb-button {
    max-height: 48px;
    width: 100%;
    grid-row: 500;
    grid-column: -3/-1;
  }

  .recipes {
    width: 100%;
    grid-row: 499;
    grid-column: -3/-1;

    .recipe-title {
      font-weight: 300;
    }
  }
}

.title {
  font-weight: 300;
}

.completed-title {
  border-top: 2px solid lightgray;
  padding: 10px 0;
  grid-column: -3/-1;
  font-weight: 500;
  margin-top: 80px;
}

.item {
  display: grid;
  @media screen and (min-width: 1600px) {
    grid-template-columns: 92% auto;
  }

  grid-template-columns: 80% auto;

  &:hover {
    cursor: pointer;
  }

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  .edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-left: none;
    border-bottom: none;
    height: 100%;

    .fa-edit {
      font-size: 24px;
      color: rgb(94, 94, 94);

      &:hover {
        color: #8fd8ba;
        cursor: pointer;
      }
    }
  }
}

.list-group-item {
  &:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.list-group-item {
    .editIcon {
      grid-column-start: 1;
    }

    &-secondary {
      color: $primary-color;
      border: none;
      font-weight: 300;
    }

    &-action {
      &.item.completed {
        color: #a0a0a0;
        font-style: italic;
        text-decoration: line-through;
      }

      &.active {
        background-color: #8fd8ba;
        border-color: #8fd8ba;
        color: $primary-color;
        font-weight: 300;
      }
    }
  }
}
