@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");

body {
  font-family: "Raleway", sans-serif;
  color: #343a40;
}

.container-fluid {
  display: grid;
  grid-template-columns: 25% auto;
  padding: 0;
  height: 100vh;
  @media screen and (max-width: 1550px) {
    grid-template-columns: 35% auto;
  }

  @media screen and (max-width: 1024px) {
    display: block;
  }
}

.addItemWrapper {
  @media screen and (min-width: 1024px) {
  }

  background: #73bc9d;
  background: -webkit-linear-gradient(to bottom, #73bc9d, #dbddaf);
  background: linear-gradient(to bottom, #73bc9d, #a1eccd);
  color: #fff;
  padding: 20px 40px;

  button {
    width: 100%;
    margin: 10px 0;

    &.btn-inc,
    &.btn-dec {
      background-color: #fff;
      opacity: 0.8;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .fa-plus,
    .fa-minus {
      font-size: 25px;
      color: rgba(115, 188, 157, 1);

      &:hover {
        color: rgb(155, 155, 155);
      }
    }

    &.btn-addItem {
      background-color: #00aeff;
      color: #fff;
    }
  }

  .itemQuantity {
    font-size: 35px;
    font-weight: 700;
  }
}

.listWrapper {
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 15px;
    grid-template-rows: min-content;
    padding: 30px 70px;
    height: max-content;
  }

  .category-group,
  .category-group-complete {
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-bottom: 15px;

    .category-title {
      font-weight: 300;
      background: #a1eccd;
      padding: 10px;

      &-complete {
        font-weight: 300;
        background: #dddddd;
        color: rgb(139, 139, 139);
        padding: 10px;
      }
    }

    .item {
      font-weight: 400;
      background-color: rgba(224, 224, 224, 0.3);
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
      &.completed {
        color: rgb(180, 180, 180);
        text-decoration: line-through;
        font-style: italic;
      }
    }
  }

  padding: 15px;

  .deleteDb-button {
    max-height: 48px;
    width: 100%;
  }
}

.title {
  font-weight: 300;
}

// .item-card {
//   padding: 0.5rem 1rem;
//   border-radius: 0.3rem;
//   margin: 10px 0;
// }

// .Deli {
//   background: #5c88e7;
//   background: -webkit-linear-gradient(to left, #67cce6, #5c88e7);
//   background: linear-gradient(to left, #67cce6, #5c88e7);
// }
